<html>
  <body>
    <h1>Idea Box!</h1>
    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      Title<input type='text' name='idea[title]'/><br/>
      <textarea name='idea[description]' >Put idea here</textarea><br/>
      Tags<input type='text' name='idea[tag]'/><br/>
      <input type='submit'/>
    </form>

    <h3>Existing Ideas</h3>
    <ol>
     <% ideas.each do |idea| %>
        <li>
          <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
            <input type='submit' value="+ some love"/>
                      (<%= idea.rank %>) loves </br>
          </form>
          idea title:  <%= idea.title %><br/>
          <%= idea.description %><br/>
          tags: <%= idea.tag %><br/>
          <a href="/<%= idea.id %>/edit">Edit</a><br/>
          <form action='/<%= idea.id %>' method='POST'>
            <input type="hidden" name="_method" value="DELETE">
            <input type='submit' value="delete"/>
          </form>
        </li>
      <% end %>
    </l>
  </body>
</html>
