<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>idea box!</h1>
      <form action='/' method='POST'>
        <input type='text' name='idea[title]' placeholder='title' class='form-control'/><br/>
        <textarea name='idea[description]' placeholder='put idea here' class='form-control'/></textarea><br/>
        <input type='text' name='idea[tags]' placeholder='tags, tags, tags' class='form-control'/><br/>
        <input type='submit' class="btn btn-primary pull-right"/>
      </form>
      <h3>existing ideas</h3>
    <div>
    </div>
    <ol id="my-list" class="col-xs-6">
     <% ideas.each do |idea| %>
        <li id = "idea-text">
          <div >
            title:  <%= idea.title %><br/>
          </div>
          <div>
            <%= idea.description %><br/>
          </div>
          tags:
          <% idea.tags.split(", ").each do |tag|%>
             <a href="/<%= tag %>"><%= tag%></a>
          <% end %>
          <div id="button">
            <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
              <input type='submit' value="+ some love (<%= idea.rank %>)" class="btn btn-primary btn-xs btn-block">
            </form>
          </div>
          <div id="button">
            <form action='/<%= idea.id %>' method='POST'>
              <input type="hidden" name="_method" value="DELETE" class="btn btn-danger">
              <input type='submit' value="delete" class="btn btn-danger btn-xs btn-block">
            </form>
          </div>
          <div id="button">
            <form action='/<%= idea.id %>' method='POST'>
              <a href="/<%= idea.id %>/edit" class="btn btn-default btn-xs btn-block">edit</a>
            </form>
          </div>
        </li>
     <% end %>
    </ol>
    </div>
  </div>
</div>
