<html>
  <body>
    <h1>here are your <% ideas.find do |idea| %>
      <%= "'#{idea.tag}'" %>
      <%end%>
      ideas
    </h1>
    <form action='/' method='POST'>

    <h3>ideas by tags</h3>
    <ul>
     <% ideas.each do |idea| %>
        <li>
          </form>
          idea title: <%= idea.title %><br/>
          <%= idea.description %><br/>
          tags: <a href="/<%= idea.tag %>"><%= idea.tag %></a><br/>
          <a href="/<%= idea.id %>/edit">Edit</a><br/>
          <form action='/<%= idea.id %>' method='POST'>
          </form>
        </li>
      <% end %>
    </ul>
  </body>
</html>
